@model IEnumerable<Service>
@{
    ViewData["Title"] = "Manage Service";
}

<h1>Manage Service || Add Edit Delete</h1>

<div class="container">

    <div class="text-end">

        <a asp-controller="Services" asp-action="Create" class="btn btn-outline-primary">Add New</a>

    </div>


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var service in Model)
            {

                <tr>
                    <td>@service.Id</td>
                    <td>@service.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-Uid="@service.Uid" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-Uid="@service.Uid" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

            }


        </tbody>
    </table>
</div>