@model Faq
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Faq</h1>

<form method="post" asp-action="Delete">
    @Html.AntiForgeryToken()

    <input asp-for="Uid" type="hidden" name="Uid" class="form-control" />

    <div class="mb-3">
        <label asp-for="Question" class="form-label"></label>
        <input asp-for="Question" disabled name="Question" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="Answer" class="form-label"></label>
        <textarea asp-for="Answer" disabled name="Answer" class="form-control"></textarea>

    </div>

    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>

</form>